In [1]:
import pandas as pd

In [2]:
accidents_df = pd.read_csv("accidents-nyc.csv")
accidents_df

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282869,1/1/19,8:00,BRONX,0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [4]:
accidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [9]:
crashes=accidents_df["CRASH DATE"]
crashes

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [12]:
type(crashes)

pandas.core.series.Series

In [20]:
#### Which borough had the most crashes?
accidents_df["BOROUGH"].unique()

array(['BROOKLYN', 'QUEENS', 'STATEN ISLAND', 'BRONX', 'MANHATTAN'],
      dtype=object)

In [17]:
bronx_fil = accidents_df["BOROUGH"] == "BRONX"
brooklyn_fil = accidents_df["BOROUGH"] == "BROOKLYN"
queens_fil = accidents_df["BOROUGH"] == "QUEENS"
manhattan_fil = accidents_df["BOROUGH"] == "MANHATTAN"
si_fil = accidents_df["BOROUGH"] == "STATEN ISLAND"

In [21]:
bronx_fil

0         False
1         False
2         False
3         False
4         False
          ...
282868    False
282869     True
282870     True
282871    False
282872    False
Name: BOROUGH, Length: 282873, dtype: bool

In [22]:
accidents_df["BOROUGH"].value_counts()

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [23]:
##Brooklyn has the most crashes.

In [24]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7

In [34]:
accidents_df["VEHICLE TYPE CODE 1"].value_counts(7)
print(f"Sedan, station wagon/sport utility vehicle, taxi, pick-up truck and box truck are the top 5 vehicles involved in crashes. the following are tied for 6th and 7th place: slingshot, chevy xpr, go kart, fdny engine, mac t")

Sedan, station wagon/sport utility vehicle, taxi, pick-up truck and box truck are the top 5 vehicles involved in crashes. the following are tied for 6th and 7th place: slingshot, chevy xpr, go kart, fdny engine, mac t

In [32]:
accidents_df["VEHICLE TYPE CODE 1"].unique()

array(['Sedan', 'Taxi', 'ï¿½MBU', 'Station Wagon/Sport Utility Vehicle',
       'Pick-up Truck', nan, 'Ambulance', 'Tow Truck / Wrecker', 'E-Bike',
       'Van', 'Moped', 'Tractor Truck Diesel', 'AMBULANCE', 'Bike',
       'Trailer', 'Bus', 'Box Truck', 'Motorcycle', 'Lift Boom',
       'scooter', 'CATER', 'FDNY Ambul', '3-Door', 'SEMI TRAIL', 'Dump',
       'Convertible', '4 dr sedan', 'dump', 'Flat Rack', 'Flat Bed',
       'GARBAGE TR', 'Tanker', 'Carry All', 'Armored Truck',
       'Garbage or Refuse', 'SCHOOL BUS', 'MOPED', 'Motorscooter',
       'Concrete Mixer', 'Open Body', 'Beverage Truck', 'fire truck',
       'E-Scooter', 'COMMERCIAL', 'PSD', 'MTA', 'PK', 'Minicycle', 'LIMO',
       'Chassis Cab', 'Tractor Truck Gasoline', 'MACK',
       'Refrigerated Van', 'van', 'Motorbike', 'Fire truck', 'TRUCK',
       'ambulance', 'NYPD VAN', '2 dr sedan', 'Pallet', 'AMBULANE', 'AMB',
       'EMS bus', 'FORKLIFT', 'SANMEN COU', 'FIRE TRUCK', 'forklift',
       'FIRETRUCK', 'School Bus', 'FDNY AMBUL', 'SHUTTLE BU', 'FDNY',
       'NYS Ambula', 'TOW TRUCK', 'Stake or Rack', 'FORD', 'Van Camper',
       'GOLF CAR', 'RV', 'USPS TRUCK', 'Scooter', 'UHAL', 'Dodge',
       'Mini Van', 'SELF INSUR', 'VAN/TRUCK', 'kick scoot', 'SEMI', 'EMS',
       'MTA BUS', 'Cargo van', 'Ambu', 'TRUCK COMM', 'Ford Van',
       'MOTOR SCOO', 'DELIVERY T',
       'Enclosed Body - Nonremovable Enclosure', 'Dirt Bike', 'Skywatch',
       'DUMP TRUCK', 'COM', 'ELECTRIC S', 'Lunch Wagon', 'TL', 'Minibike',
       'Multi-Wheeled Vehicle', 'Hopper', 'UNKNOWN', 'AMBU', 'DIRT BIKE',
       'G COM', 'truck', 'FDNY FIRE', 'Commercial', 'Motorscoot',
       'FORD SPRIN', 'Backhoe Lo', 'Snow Plow', 'REFG', 'POWER LADD',
       'utility tr', 'Mercedes', 'PICKUP', 'firetruck', 'Fire',
       'OML/OMNIBU', 'post offic', 'Well Driller', 'MTA bus', 'Vanette',
       'FDNY ENGIN', 'TRAILER', 'TRAC', 'Fire Truck', 'E-scooter',
       'NYC AMBULA', 'Pickup with mounted Camper', 'Forklift',
       'PASSENGER', 'CMIXER', 'SCOOTER', 'US POSTAL', 'DUMP', 'pickup',
       'TRAILER/FL', 'POSTAL VEH', 'FLAT', 'G PSD', 'USPS', 'PC',
       'Bulk Agriculture', 'HERTZ RAM', 'Fire Engin', 'SUBN - AMB',
       'SPARK150 S', 'MTA Bus', 'TRAILEE', 'UPS TRUCK', 'SPECIAL CO',
       'Quality tr', 'box truck', 'con ed tru', 'FORD VAN', 'UTIL',
       'ford', 'BOX TRUCK', 'Pick up', 'Amb', 'SUBURBAN', 'Unk', '4DS',
       'FDNY TRUCK', 'sanitaion', 'POWER SHOV', 'Ram Promas',
       'SKID LOADE', 'MARKED VAN', 'Power Shov', 'BULLDOZER',
       'SANITATION', 'Excavator', 'SKYWATCH', 'box', 'sedan',
       'Glass Rack', 'Postal tru', 'SNOW PLOW', 'Dump truck', 'TRK',
       'Van truck', 'FDNY EMS', 'VAN TRUCK', 'STAK', 'TRACTOR', 'na',
       'Government', 'Sanitation', 'G AMB', 'tow', 'UTILITY WH',
       'pick up', 'Fedex', 'PICK UP TR', 'U HAUL TRU', 'Subr',
       'USPS Truck', 'Pick up tr', 'fdny ambul', 'Sprinter v',
       'FORK LIFT', 'nyc EMS', 'REP', 'Com', 'DELV', 'unknown', 'Unknown',
       'Box truck', 'Ambulette', 'USPS truck', 'FDNY FIRET', 'util',
       'EMS Ambula', 'LADDER TRU', 'sanitaton', 'tk',
       'Enclosed Body - Removable Enclosure', 'ebike', 'SEDAN', 'PERM',
       'Firetruck', 'FIRE', 'MOTOR HOME', 'mini van', 'UTILITY VE',
       'CMIX', 'usps truck', 'tr', 'TANK', 'Grumman LL', '994',
       'AMBULENCE', 'trailer', 'Dent and S', 'Pick wh', 'PAS',
       'NYC SANITA', 'gas scoote', 'NYS AMBULA', 'DODGE RAM', 'HWH',
       'Unmarked V', 'BOX', 'Gas scoote', 'CHERV', 'Post offic',
       'SKATEBOARD', 'USPS MAIL', 'crane boom', 'sprinter v',
       'MOVING TRU', 'Yamaha', 'PICK UP', 'MINI BUS', 'Fork lift',
       'commerical', 'SEDONA', 'FDNY LADDE', 'Mopd', 'Pedicab',
       'UTILITY VA', 'GAS POWERE', 'ENGINE SP0', 'Pass', 'US Mail Tr',
       'gas mo ped', 'SCOOTER GA', 'Pro master', 'Truck', 'forlift',
       'Can', 'FLATBED FR', 'postal van', 'UNK', 'FIRTRUCK', 'TTAILER',
       'fdny ems', 'AMBULACE', 'bus', 'Street Swe', 'FDNY fire',
       'DELIVERY', 'Cement Tru', 'USPS/GOVT', 'TRUCK VAN', 'SUV',
       'CATAPILLAR', 'utility', 'SWT', 'FLAT  BED', 'E-BIKE', 'Fork Lift',
       'UTILITY', 'Courier', 'SMART CAR', 'E-UNICYCLE', 'Street Cle',
       'F550', 'BICYCLE', 'ford van', 'commercial', 'FDNY Engin',
       'Go kart', 'CHEVY EXPR', 'SLINGSHOT', 'dilevery t', 'FDNY #226',
       'UNKN', 'MOVING VAN', 'usps', 'moped', 'backhoe', 'Delv',
       'dump truck', 'Horse', 'BOBCAT FOR', 'Pumper', 'DOT EQUIPM',
       'Livestock Rack', 'GEN  AMBUL', '18 WHEELER', 'MOTORSCOOT',
       'Front-Load', 'DRILL RIG', 'Wh Ford co', 'suburban', 'E REVEL SC',
       'ROAD SWEEP', 'LIGHT TRAI', 'Tractor', 'cross', 'Bucket Tru',
       'JOHN DEERE', 'BACK HOE', 'postal tru', 'CHEVROLET', 'Fdny ambul',
       'NYC FD', 'E-bike', 'FUSION', 'GOLF CART', 'POSTAL TRU',
       'FIRE ENGIN', 'Ford sprin', 'Work van', 'FREIG', 'FLATBED', 'ambu',
       'tow truck', 'Pick up Tr', '0', 'postal bus', 'government', 'CAT',
       'E bike', 'FDNY Fire', 'com', 'CARGO VAN', 'ELEC. UNIC',
       'Motorized Home', 'WORK VAN', 'DEPARTMENT', 'FDNY Firet', 'Self',
       'E scooter', 'E-SCOOTER', '50cc Scoot', 'Tow Truck', 'Cement tru',
       'work truck', 'FDNY Truck', 'Mack Truck', 'VMS', 'TLR',
       'Constructi', 'School bus', 'SCHOOL  BU', 'NonMotordS', 'Mack',
       'police rep', 'EC3', 'ECONOLINE', 'UPS', 'VAN WH', 'USPS POSTA',
       'White ambu', 'FREIGHT TR', 'TRL', 'FREIGHTLIN', 'pc', 'delviery',
       'E-Bik', 'Horse Trai', 'escavator', 'OMR', 'P/SH', 'ford econo',
       'pick', 'MAIL TRUCK', 'USPS #7530', 'Hearse', 'SE', 'PUSH SCOOT',
       'Delivery', 'postal ser', 'PICKUP TRU', 'nat grid t', 'G com',
       'backh', 'D/V WB', 'Bobcat', 'UTILITY TR', 'food truck',
       'EMERGENCY', 'fdny truck', 'pay loader', 'tractor tr',
       'FDNY EMS V', 'RV/VAN', 'TR-Trailer', 'ESU RESCUE', 'City',
       'pedicab', 'I-haul', 'BOOM LIFT', 'U-Haul min', 'Pickup tru',
       'freight', '12 PASSENG', 'STREET SWE', '12 passage', 'STREET CLE',
       'PUMPER', 'LOCOMOTIVE', 'Horse carr', 'YELLOWPOWE', '197209',
       'posta', 'E450', 'UTILI', 'SCHOO', 'TRAIL', 'utili', 'St', 'E-Sco',
       'amulance', 'DEPT VAN #', 'MOPD', 'GRUMM', 'FIRET', 'Wagon',
       'AMBUL', 'PSH', 'US PO', 'TRACT', 'BOX T', 'UHUAL', 'BACKH',
       'DELVI', 'box t', 'SCOOT', 'picku', 'trail', 'DELIV', 'FORKL',
       'van t', 'SKATE', 'PAYLO', 'SANIT', 'Forkl', 'ECONO', 'tract',
       'FUEL', 'TRC', 'Ambul', 'TANKE', 'GARBA', '3 WHE', 'road', 'DOT T',
       'CRANE', 'MTA B', 'FLAT/', 'deliv', 'COMME', 'scoot', 'Box T',
       'schoo', 'STREE', 'FEDEX', 'LIEBH', 'CAB', 'TOW T', 'USP M',
       'SANTI', 'tow t', 'prks', 'Unkno', 'limo', 'ambul', 'g spc',
       'CONT', 'HI TA', 'CAT.', 'POLIC', 'Parce', 'PICKU', 'fire', 'COMM',
       '35 FT', 'Trail', 'GOLF', 'UT', 'PU', 'forkl', 'Tow T', 'TOWTR',
       'PICK-', 'E BIK', 'POWER', 'UNKNO', 'ELECT', 'MINI', 'stree',
       'elect', 'Golf', 'FORK', 'Sprin', 'CITY', 'UHAUL', 'BS', 'APPOR',
       'Scoot', 'Mta', 'Van T', 'SELF', 'SKID-', 'E SCO', 'DIRT', 'ICE C',
       'motor', 'KUBOT', 'NYS A', 'range', 'BULLD', 'ACCES', 'Barri',
       'subn', 'VAN T', 'MAIL', 'Acces', 'Motor', 'BTM', 'Pas', 'NTTRL',
       'MOTOR', 'YELLO', 'TRLR', 'firet', 'movin', 'nypd', 'SUBUR',
       'Rescu', 'E-BIK', 'COURI', 'NAVIG', 'Subn', 'mta b', 'COMMU',
       'ROAD', 'TIR', 'st', 'Motor Home', 'WAGON', 'TRACK EXCA', 'dumps',
       'semi', 'Stree', 'CAT P', 'power', 'garba', 'wagon', 'Garba',
       'BOOM', 'Comme', 'RMP', 'fdny', 'SEGWA', 'comme', 'SC', 'Deliv',
       'cater', 'Tow t', 'SEA', 'moter', 'Hrse', 'U-Hau', 'BUCKE', 'Mail',
       'Sanit', 'BK', 'NYCHA', 'Snow', 'COMER', 'Pick', 'Picku', 'NYPD',
       'US Po', 'TKTR', 'GATOR', 'Box t', 'VAV', 'Const', 'EXCAV', 'none',
       'Road', 'Firet', 'GOVER', 'te', 'LTRL', 'Tract', '\x7fomm',
       'TRANS', 'MAC T'], dtype=object)

In [33]:
print(f"Five unusal vehicles to get into crashes are: E-scooter, UHAL, Forklift, Tanker and an E-bike")

Five unusal vehicles to get into crashes are: E-scooter, UHAL, Forklift, Tanker and an E-bike